
/* General styles */


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
      
}



/* Header Section */


header {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-image {
  width: 70px;
  margin-bottom: 10px;
  align-items: self-start;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

nav span {
  margin: 5px 10px;
}

nav span a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}




/* Main section */

main {
  padding: 15px;
}











/* About Me Section */


.main-aboutme {
  text-align: center;
  background-color: #3298db;
  border-radius: 10px;
  color: white;
  margin: 20px auto; 
  padding: 20px; 
  display: flex; 
  align-items: center;
  justify-content: center;
   
}

.image-aboutme img {
  max-width: 100%; 
  height: auto;
  margin-bottom: 20px; 
}

.text-aboutme {
  font-size: 26px;
  text-align: center; 
}

.text-aboutme h1 {
  font-size: 40px;
}












/* Hobbies Section */



.hobbies-c {
  display: flex;
  flex-wrap: wrap; 
  background-color: #3498db;
  border-radius: 16px;
  
  
}

.hobbies-vid {
  flex: 1;
  
}

.hobbies-vid video {
  max-width: 70%;
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  
}

.hobbies-subc {
  flex: 1;
  flex-direction: column;
}

.hobbies-para {
  flex: 1;
  color: white;
  
}

.hobbies-img {
  flex: 1;
}

.hobbies-img img {
  width: 70%; 
  
}










/* CV Section */



.cv-m {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #3298db;
  border-radius: 25px;
}

.cv-image img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.cv {
  font-size: 34px;
  text-align: center;
  color: white;
  margin-top: 40px;
}









/* Education Section */




.education-m {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  border-radius: 20px;
  background-color: #3498db;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.button-education {
  font-size: 16px;
  background-color: white;
  color: #3298db;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: default;
  margin-bottom: 20px;
}

.education-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.education-details p {
  color: #fff;
}

.a {
  background-color: #2ecc71;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: default;
  margin-right: 22px;
  margin-bottom: 10px;
  align-content: center;
  
}









/* Skill Section */




.skill-m {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #3298db;
  border-radius: 20px;
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  flex: 1;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

.button-tech,
.button-soft,
.button-tool {
  padding: 8px 15px;
  font-size: 16px;
}

.column {
  text-align: center;
  margin-top: 10px;
}

.column h3 {
  font-size: 18px;
}

.column ul {
  list-style: none;
  padding: 5px;
}

.column li {
  margin-bottom: 5px;
}












/* Footer Section */




footer {
  background-color: #343;
  padding: 10px;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  cursor: none;
}

.socials a {
  margin: 0 10px;
}

.socials img {
  width: 30px;
  height: auto;
}










/* Menu icon for mobile design */




.menu-icon {
  cursor: pointer;
  font-size: 36px;
  justify-self: end;
  color: white;
  display: none; 
}

.menu-icon:before {
  content: '\2261';
}

nav {
  display: none;
}

.menu-icon:target + nav {
  display: flex;
  flex-direction: column;
  align-items: end;
}
















/* Mobile Styles */




@media only screen and (max-width: 599px) {


  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  nav span {
    display: none;
    flex: 1;
    margin: 0 10px;
  }

  nav {
    display: none;
    justify-content: flex-end;
    align-items: end;
  }

  .mobile-nav a {
    color: white;
  }

  .menu-icon {
    display: flex; 
    margin-right: 10px; 
  }

  .menu-icon:target + nav {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .menu-icon:target + nav span {
    display: block;
  } 

  .main-aboutme {
    flex-direction: row; 
    text-align: center; 
  }

  .image-aboutme img {
    margin-right: 0; 
    margin-left: 20px;
    height: 75vh;
    width: 300vw;

  }

  .text-aboutme {
    font-size: 13px;
    text-align: left; 
    margin-left: 40px;
  }
  
  .text-aboutme h1 {
    font-size: 30px; 
  }

  .hobbies-para{
    font-size: 10px;
    
    margin-top: 60px;

  }
  .hobbies-c {
    flex-direction: row;
    
  }
  .hobbies-vid{
    height: 85vh;
    width: 300vw;
    margin-top: 40px;
  }
  .education-m{
    height: 150vh;
    
  }
  
  

}















/* Tablet Styles */



@media only screen and (min-width: 600px) and (max-width: 1024px) {
  
  header {
    flex-direction: row;
    align-items: center;
  }
  .logo-image {
    align-items: start;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  nav span {
    margin: 10px;
  }

  .main-aboutme {
    flex-direction: row;
  }

  .text-aboutme {
    font-size: 20px;
    text-align: left; 
    margin-left: 30px;
  }

  .text-aboutme h1 {
    font-size: 30px;
  }
  .image-aboutme img {
    margin-right: 0; 
    height: 85vh;
    width: 400vw;

  }

  .skill-m {
    flex-direction: row;
    justify-content: space-around;
  }

  .container {
    flex-direction: row;
    margin-right: 0; 
    height: 85vh;
    
  }

  .education-details p{
    font-size: 20px;
  }
  .education-details h1{
    font-size: 30px;
  }

  .hobbies-para{
    font-size: 12px;
    margin-top: 70px;
  }

  .hobbies-vid{
    height: 85vh;
    width: 300vw;
    margin-top: 50px;

  }
  .education-m{
    height: 120vh;
    

  }
}













/* Responsive styles for Mobile portrait */




@media only screen and (min-width: 600px) and (max-width: 1024px) and (orientation: landscape) {
  header {
    flex-direction: row;
    align-items: center;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  nav span {
    margin: 15px;
  }

  
  .main-aboutme {
    flex-direction: row; 
    text-align: center;
  }

  .image-aboutme img {
    margin-right: 20px; 
    
  }

  .skill-m {
    
    flex-direction: row;
    justify-content: space-around;
    
  }
  .container{
    flex-direction: row;

  }
  .education-m{
    height:220vh;
  }

  .container { 
    height: 120vh;

  
  }
  .hobbies-vid{
    height: 105vh;
    
  }  
}






















/* Media query for desktop view */



@media only screen and (min-width: 1025px) {

  header {
    flex-direction: row;
    align-items: center;
  }

  .main-aboutme {
    flex-direction: row;
  }
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  nav span {
    margin: 21px;
  }
  

  

  .text-aboutme {
    text-align: left;
    margin-left: 40px; 
  }

  .skill-m {
    
    flex-direction: row;
    justify-content: space-around;
    
  }
  .container{
    flex-direction: row;

  }
  .hobbies-c{
    flex-direction: row;
  }

  .education-details p{
    font-size: 20px;
  }
  .education-details h1{
    font-size: 55px;
  }
  .hobbies-para{
    font-size: 20px;
  }
  .hobbies-vid{
    height: 100vh;
    width: 300vw;
    margin-top: 50px;

  }
  .education-m{
    height: 80vh;

  }

  .container { 
    height: 80vh;

  
}
.image-aboutme img {
  margin-right: 0; 
  height: 80vh;
  width: 200vw;

}

}


































































